
 #image5{
    display: flex;
    flex-direction: column;
}

 .img-thumbnail{ 
    width: 100%;
    height: 60%;
    gap: 1%;
}
.phototext{
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
}
