body {
  font-family: "Orelega One", cursive;
  background-color: rgb(191, 204, 204);
}

.facebook-icon{
  width:2vw ;
  height:4vh;
}
.email-icon{
  width:2vw;
  height:4vh;
}
.footer{
  height: 10vh;
}