body {
  font-family: "Orelega One", cursive;
  background-image: url(../images/backgrounds/logo9.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
} 
.facebook-icon{
  width:2vw ;
  height:4vh;
}
.email-icon{
  width:2vw;
  height:4vh;
}
.footer{
  height: 10vh;
}